body {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    font-size: 100%;
    font-family: cursive;
    background-color: #037ffc;
    color: #fafafa;
}

p {
    font-size: 2.5em;
    margin: 3em;
}

label {
    font-size: 2.5em;
}

h1 {
    font-size: 5em;
    margin: 3em;
}

.input-button {
    font-family: cursive;
    font-size: 150%;
    width: auto;
    height: auto;
    margin: 3em;
    border-radius: 20%;
}

#waitlist-notification {
    font-size: 1em;
}